html, body {
  height: 100vh;
}

@font-face {
  font-family: custom-font;
  src: url("./media/font.ttf");
}

body {
  background: url("./media/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main-span {
  padding: 5px;
  border: 2px solid #ffffff;
  border-radius: 20px;
  background-color: #ffffff;
  font-size: 20px;
  color: #515151;
  transition: all 0.3s;
  box-shadow: 3px 3px 3px #000000;
  cursor: pointer;
}
.main-span:hover {
  background-color: #515151;
  color: #ffffff;
  box-shadow: none;
}

.App {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template: 100vh / 45% 55%;
}
/*============================================================================*/
.Main {
  grid-area: 1 / 1 / span 1 / span 1;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template: repeat(20, 1fr) / repeat(10, 1fr);
}

#photo {
  grid-area: 2 / 3 / span 9 / span 6;
  background: url("./media/me.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  border: 2px solid #ffffff;
  box-shadow: 3px 3px 3px #000000;
}

#dm {
  grid-area: 11 / 1 / span 2 / span 10;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  font-family: custom-font;
}

#border {
  grid-area: 11 / 4 / span 2 / span 4;
  border-bottom: 2px solid #ffffff;
}

#text {
  grid-area: 13 / 1 / span 2 / span 10;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  font-family: custom-font;
}

#e-mail {
  grid-area: 17 / 1 / span 1 / span 10;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  text-shadow: 3px 3px 3px #000000;
}

#github {
  grid-area: 18 / 6 / span 2 / span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#linkedin {
  grid-area: 18 / 4 / span 2 / span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*============================================================================*/
.Projects, .About {
  grid-area: 1 / 2 / span 1 / span 1;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template: repeat(20, 1fr) / repeat(10, 1fr);
}
/*============================================================================*/
.active-title {
  grid-area: 1 / 1 / span 2 / span 9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active-span {
  font-size: 2.25em;
  color: #ffffff;
  text-shadow: 3px 3px 3px #000000;
}

#inactive-title-about-me {grid-area: 1 / 8 / span 2 / span 2;}
#inactive-title-recent-projects {grid-area: 1 / 1 / span 2 / span 3;}
.inactive-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.inactive-span {
  padding: 5px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  background-color: #ffffff;
  font-size: 1.5em;
  color: #515151;
  box-shadow: 3px 3px 3px #000000;
  transition: all 0.3s;
  cursor: pointer;
}

.inactive-span:hover {
  background-color: #515151;
  color: #ffffff;
  box-shadow: none;
}

/*============================================================================*/
.projects {
  border-radius: 20px;
  border: 2px solid #ffffff;
  box-shadow: 3px 3px 3px #000000;
  transition: all 0.3s;
  cursor: pointer;
}
.projects:hover {
  border-width: 8px;
  box-shadow: none;
}

#project1 {
  grid-area: 3 / 1 / span 5 / span 4;
  background: url("./media/manganime.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#project2 {
  grid-area: 3 / 6 / span 5 / span 4;
  background: url("./media/narflix.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#project3 {
  grid-area: 9 / 1 / span 5 / span 4;
  background: url("./media/anime.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#project4 {
  grid-area: 9 / 6 / span 5 / span 4;
  background: url("./media/hangman.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#project5 {
  grid-area: 15 / 1 / span 5 / span 4;
  background: url("./media/ttt.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#project6 {
  grid-area: 15 / 6 / span 5 / span 4;
  background: url("./media/mariokart.png");
  background-size: cover;
  background-repeat: no-repeat;
}
/*============================================================================*/
#brand-statement {
  grid-area: 3 / 1 / span 9 / span 9;
  font-size: 1.5em;
  text-align: justify;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 20px;
  background: rgba(40,40,40,0.7);
  box-shadow: 3px 3px 3px #ffffff;
  transition: all 0.3s;
  overflow: scroll;
}


#t-skills {grid-area: 12 / 1 / span 4 / span 9;}
#fun-facts {grid-area: 16 / 1 / span 5 / span 9;}
#t-skills, #fun-facts {
  display: grid;
  grid-template: 15px 1fr / 1fr;
  font-size: 1.25em;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 20px;
  background: rgba(40,40,40,0.7);
  box-shadow: 3px 3px 3px #ffffff;
  transition: all 0.3s;
}

#brand-statement:hover, #t-skills:hover, #fun-facts:hover {
  box-shadow: none;
  background: rgba(0,0,0,0.7);
}

#t-skills > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#t-skills1 {
  font-size: 1.25em;
  text-decoration: underline;
}

#fun-facts > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#fun-facts1 {
  font-size: 1.25em;
  text-decoration: underline;
}

.css-projects-leave {
  opacity: 1;
}

.css-projects-leave-active {
  opacity: 0;
  transition: opacity 0.5s;
}
